.calculateWidth(@number-of-columns, @total-columns, @containerWidth, @gutterWidth) {
	width:(@containerWidth - (@total-columns - 1)*@gutterWidth)/@total-columns*@number-of-columns + (@number-of-columns - 1)*@gutterWidth;
}
.calculateWidthNoGutter(@number-of-columns, @total-columns, @containerWidth, @gutterWidth) {
	width:(@containerWidth - (@total-columns - 1)*@gutterWidth)/@total-columns*@number-of-columns + (@number-of-columns)*@gutterWidth;
}
.calculateOffset(@number-of-columns, @total-columns, @containerWidth, @gutterWidth) {
	margin-left:(@containerWidth - (@total-columns - 1)*@gutterWidth)/@total-columns*@number-of-columns + (@number-of-columns + 1)*@gutterWidth;
}