@color-general-font: #000;
@color-background: #fff;
@color-shadow: #000;
@color-border: #000;
@color-general-link: #000;
@color-highlight: #ff0ccc;
@color-green: #3fcd33;

@width-padding-general:20px;
@min-width-general:1280px;
@width-general: 1080px;
@width-menu:140px;
@width-sub-menu:140px;
@width-margin-page:60px;

@width-gutter:20px;
@width-page: @width-general - @width-menu - @width-sub-menu - @width-gutter - @width-margin-page;
@width-startpage: @width-general - @width-menu;

@height-header: 90px;
@height-hgroup: 80px;
@height-footer:130px;
@height-page-padding-bottom:40px;


@fontsize-general:14px;
.bold() {
	font-family:"SwiBold";
}
.big() {
	font-size:21px;
}
.textColor() {
	color: @color-highlight;
}
.transitionProperty(@property, @duration) {
	-webkit-transition:@property @duration linear;
	-moz-transition:@property @duration linear;
	-ms-transition:@property @duration linear;
	-o-transition:@property @duration linear;
	transition:@property @duration linear;
}
.transitionProperty(@property, @duration, @delay) {
	-webkit-transition:@property @duration linear @delay;
	-moz-transition:@property @duration linear @delay;
	-ms-transition:@property @duration linear @delay;
	-o-transition:@property @duration linear @delay;
	transition:@property @duration linear @delay;
}
.font-face (@fontname, @fontfile) {
	@font-face {
		font-family: @fontname;
		src: url('@{fontfile}.eot');
		src: url('@{fontfile}.eot?#iefix') format('embedded-opentype'),
			 url('@{fontfile}.woff') format('woff'),
			 url('@{fontfile}.ttf') format('truetype'),
			 url('@{fontfile}.svg#@{fontname}') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}