﻿/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
.row {
  *zoom: 1;
  clear: both;
  margin-left: -20px;
  position: relative;
}
.row:after,
.row:before {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col {
  position: relative;
  float: left;
  min-height: 1px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.col.no-gutter {
  margin-left: 0;
}
.col.no-gutter-bottom {
  margin-bottom: 0;
}
.offset-1-2 {
  margin-left: 390px;
}
.offset-2-6 {
  margin-left: 266.66666666666663px;
}
.col-1-1 {
  width: 720px;
}
.col-1-2 {
  width: 350px;
}
.col-1-3 {
  width: 226.66666666666666px;
}
.startimage-col {
  width: 310px;
  position: relative;
  float: left;
  min-height: 1px;
  margin-left: 40px;
  margin-bottom: 20px;
}
