@import "@elements.less";
@import "@variables.less";
@import "@grid.less";

.row {
	*zoom: 1;
	clear: both;
	margin-left:-@width-gutter;
	position:relative;
	&:after, &:before {	
		content: ""; 
		display: table;
	}
	&:after	{
		clear: both;
	}
}
.col {
	position:relative;
	float: left;
	min-height: 1px;
	margin-left :@width-gutter;
	margin-bottom: @width-gutter;
}
.col.no-gutter {
	margin-left: 0;
}
.col.no-gutter-bottom {
	margin-bottom: 0;
}


.offset-1-2 {
	.calculateOffset(1,2,@width-page, @width-gutter);
}
.offset-2-6 {
	.calculateOffset(2,6,@width-page, @width-gutter);
}
.col-1-1
{
	.calculateWidth(1,1,@width-page, @width-gutter);
}
.col-1-2
{
	.calculateWidth(1,2,@width-page, @width-gutter);
}
.col-1-3
{
	.calculateWidth(1,3,@width-page, @width-gutter);
}
.startimage-col
{
	width: 310px;
	position:relative;
	float: left;
	min-height: 1px;
	margin-left : 40px;
	margin-bottom: @width-gutter;
}