@import "@elements.less";
@import "@variables.less";


html, body {
    background-color: @color-background;
    width: 100%;
    height: 100%;
    color: @color-general-font;
    font-family: "SwiRegular";
    font-size: @fontsize-general;
    letter-spacing: 0.1em;
    position: relative;
    min-width: @width-general;
    line-height: 1.2;
}

body {
    overflow: auto;
}

strong, b {
    font-family: "SwiBold";
}

h1, h2, h3, h4, h5, h6, p, li, ul, ol {
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: inherit;
    list-style: none;
}

a {
    text-decoration: none;
    color: @color-general-link;

    &.active, &:hover {
        .textColor();
    }
}

.hover-color:hover {
    .textColor();
}

.active {
    .textColor();
}

#container {
    width: @width-general;
    padding: 0 @width-padding-general;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
}

.nav-group {
    position: fixed;
    left: 50%;
    margin-left: -@width-general/2;
    margin-top: @height-hgroup;
}

.startpage-text {
    position: fixed;
    right: 50%;
    margin-right: -(@width-general/2);
    margin-top: @height-hgroup;
    z-index: 100;
    letter-spacing: normal;

    .startpage-text-content {
        width: 140px;
        margin-right: 0;
    }
}

.main-header {
    padding-top: 70px;
    text-align: center;
    height: @height-header;

    .header-content {
        padding-left: 40px;
        background-image: url(/assets/logo.jpg);
        background-position: left center;
        background-repeat: no-repeat;
        width: 200px;
        text-align: left;
        margin: 0 auto;
        .bold();
        line-height: @fontsize-general;
    }
}

body .page {
    margin-left: @width-general - @width-page;
    padding-bottom: @height-footer + @width-gutter;
}

body .startpage {
    min-width: 890px;
    margin-left: @width-general - @width-startpage + 50;
    padding-bottom: @height-footer + @width-gutter;
    position: relative;
}

.big-text-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: @height-footer + @width-gutter + 28;
    right: @width-general - @width-startpage + 50;
    text-align: center;
}

.big-text-centering {
    display: table;
    width: 100%;
    height: 100%;
}

.big-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 58px;
    line-height: 0.8;
    .bold();
}

.col.menu {
    width: @width-menu;
    margin-left: 0;

    h1 {
        .textColor();
    }
}

.menu-link, .sub-menu-link {
    display: block;
    text-transform: uppercase;

    .day {
        display: inline-block;
        width: 28px;
    }

    .day-num {
        display: inline-block;
        width: 25px;
    }
}

time.event-date {
    text-transform: uppercase;
    letter-spacing: 0.1em;

    .day {
        display: inline-block;
        width: 28px;
    }

    .day-num {
        display: inline-block;
        width: 25px;
    }

    .month {
        display: inline-block;
        width: 100px;
    }

    .hour {
        text-transform: none;
    }
}

.sub-menu {
    width: @width-sub-menu;
}

.languages {
    margin-top: @width-gutter;
    text-transform: uppercase;
}

.menu-produktionen {
    margin-bottom: @width-gutter;
}

.detail-page-paragraph {
    padding-right: @width-gutter;
    letter-spacing: normal;
}

.event-text, .event-bio, .event-credit, .event-bio-content, .event-credit-content {
    margin-top: 15px;
}

.js {
    .event-bio-content, .event-credit-content {
        display: none;

        &.show {
            display: block;
        }
    }
}

.event-date {
    display: block;
    .bold();
}

.calendar-date {
    padding-bottom: @width-gutter;
}

.production-event {
    position: relative;
    padding-bottom: 2*@width-gutter;

    figure {
        padding-top: @width-gutter - 5px;
    }
}

.page-title-group {
    height: @height-hgroup;

    br {
        display: none;
    }
}

.page-title {
    display: block;
    text-transform: uppercase;
    .bold();
    font-size: 21px;
}

.page-title-group h1.page-title {
    width: 650px;
}

.page-sub-title {
    display: block;
}

.page-list-title {
    display: block;
    .bold();
    .big();
}

.page-list-sub-title {
    display: block;
    .bold();
}

.event-place {
    display: block;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    .bold();
}

.inner-title {
    display: block;
    text-transform: uppercase;
}

.ir-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    height: @height-footer;

    .footer-content {
        width: 240px;
        text-align: left;
        margin: 0 auto;
        .bold();
        line-height: @fontsize-general;
    }
}

.detail-page {
    position: relative;

    .events-nav {
        position: absolute;
        top: 0;
        right: 0;
    }

    .next, .prev {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(/assets/arrows.png);
        background-repeat: no-repeat;
    }

    .next {
        background-position: -20px 0;
        margin-left: 10px;

        &:hover {
            background-position: -20px -20px;
        }
    }

    .prev {
        background-position: 0 0;

        &:hover {
            background-position: 0 -20px;
        }
    }
}

.detail-page-images .video {
    position: relative;

    .video-link {
        background-image: url(/assets/play_button.png);
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.lightbox-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: none;

    &.show {
        display: block;
    }

    .lightbox-centering {
        display: table;
        width: 100%;
        height: 100%;
    }

    .lightbox-centering-vertical {
        display: table-cell;
        vertical-align: middle;
    }

    .lightbox-content {
        margin: 0 auto;
        text-align: center;
        width: 950px;
        padding: 20px 70px;
        background-color: @color-highlight;
        position: relative;
    }

    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 34px;
        color: #000;
        width: 20px;
        height: 20px;
        background-image: url(/assets/arrows.png);
        background-repeat: no-repeat;
        background-position: -40px 0;

        &:hover {
            color: #000;
        }
    }
}

.facebook-link {
    margin-top: @width-gutter;
}

.mehr-container {
    position: relative;
}

.ticket-link {
    color: @color-green;
    letter-spacing: normal;

    &:hover {
        color: #000;
    }
}

.untertitel {
    text-transform: uppercase;
}

.newsletter-page {
    a.send {
        display: inline-block;
        margin-top: 31px;
    }

    .newsletter-subtitle {
        margin-bottom: 31px;

        .success {
            visibility: hidden;

            &.show {
                visibility: visible;
            }
        }
    }

    legend {
        margin-bottom: 15px;
    }

    legend {
        height: 25px;
        line-height: 25px;

        input {
            width: 200px;
            float: right;

            &.fail {
                border-color: @color-highlight;
            }
        }

        label {
            float: left;
            width: 100px;
        }
    }

    .loader {
        display: none;
        width: 15px;
        height: 15px;
        background-image: url(/assets/ajax-loader.gif);
        background-position: center center;

        &.show {
            display: block;
        }
    }

    .thanks {
        display: none;

        &.show {
            display: block;
        }
    }
}

.intro-text {
    letter-spacing: normal;
}

.diaporama-link {
    display: block;
}

.diaporama-outer {
    height: 470px;
    position: relative;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;

    &.in {
        opacity: 1;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.diaporama-nav {
    z-index: 999;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(/assets/arrows.png);

    &.next {
        right: 20px;
        background-position: -20px 0;
    }

    &.previous {
        left: 20px;
        background-position: 0 0;
    }
}

@width-change: @width-general + 2*@width-padding-general;

@media only screen and /*!YUI-Compressor */ (max-width : @width-change), screen and /*!YUI-Compressor */ (max-height: 600px) {
    .nav-group {
        position: absolute;
        left: @width-padding-general;
        margin-left: 0;
    }

    .startpage-text {
        position: absolute;
        right: @width-padding-general;
        margin-right: 0;
    }
}
