﻿@import "@elements.less";
@import "@variables.less";

@media print {
    .nav-group {
        display: none;
    }
    .main-header {
        padding-top: 20px !important;
    }
    .detail-page, .page {
        margin-left: 0 !important;
    }
    .event-bio-content {
        display: block !important;
    }
    event-credit-content {
        display: block !important;
    }
}
