﻿@import "@elements.less";
@import "@variables.less";

.responsive-visible() {
	.opacity(1);
	.transitionProperty(opacity, 0.1s);
}
.responsive-hidden() {
	.opacity(0);
	.transitionProperty(opacity, 0.1s);
}
.responsive-show() {
	display: block;
}
.responsive-hide() {
	display: none;
}

/*
.responsive-fct(@name) {
	.media-@name-visible {
		.responsive-visible();
	}
	.media-@{n}-hidden {
		.responsive-hidden();
	}
	.media-@{n}-show {
		.responsive-show();
	}
	.media-@{n}-hide {
		.responsive-hide();
	}
}
*/
/* small ----------- */
@media only screen and (max-width : 320px) {
	.media-small-visible {
		.responsive-visible();
	}
	.media-small-hidden {
		.responsive-hidden();
	}
	.media-small-show {
		.responsive-show();
	}
	.media-small-hide {
		.responsive-hide();
	}
}

/* phone ----------- */
@media only screen and (min-width : 319px) and (max-width : 767px) {
	.media-phone-visible {
		.responsive-visible();
	}
	.media-phone-hidden {
		.responsive-hidden();
	}
	.media-phone-show {
		.responsive-show();
	}
	.media-phone-hide {
		.responsive-hide();
	}
}

/* tablet ----------- */
@media only screen and (min-width : 768px) and (max-width : 1023px)  {
	.media-tablet-visible {
		.responsive-visible();
	}
	.media-tablet-hidden {
		.responsive-hidden();
	}
	.media-tablet-show {
		.responsive-show();
	}
	.media-tablet-hide {
		.responsive-hide();
	}
}

/* laptop ----------- */
@media only screen and (min-width : 1024px) and (max-width : 1199px)  {
	
	.media-laptop-visible {
		.responsive-visible();
	}
	.media-laptop-hidden {
		.responsive-hidden();
	}
	.media-laptop-show {
		.responsive-show();
	}
	.media-laptop-hide {
		.responsive-hide();
	}
}

/* desktop ----------- */
@media only screen and (min-width : 1200px) and (max-width : 1999px)  {
	.media-desktop-visible {
		.responsive-visible();
	}
	.media-desktop-hidden {
		.responsive-hidden();
	}
	.media-desktop-show {
		.responsive-show();
	}
	.media-desktop-hide {
		.responsive-hide();
	}
}

/* big ----------- */
@media only screen and (min-width : 2000px)  {
	.media-big-visible {
		.responsive-visible();
	}
	.media-big-hidden {
		.responsive-hidden();
	}
	.media-big-show {
		.responsive-show();
	}
	.media-big-hide {
		.responsive-hide();
	}
}
/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	.media-2x-visible {
		.responsive-visible();
	}
	.media-2x-hidden {
		.responsive-hidden();
	}
	.media-2x-show {
		.responsive-show();
	}
	.media-2x-hide {
		.responsive-hide();
	}
}