﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="EventDetail.aspx.cs" Inherits="pages_EventDetail" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="submenuCPH" runat="Server">
    <asp:PlaceHolder runat="server" ID="submenuPH" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="pageCPH" runat="Server">
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=148507225237972";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <asp:PlaceHolder runat="server" ID="pagePH" />
</asp:Content>

