﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Panelpage.aspx.cs" Inherits="pages_PanelPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="submenuCPH" Runat="Server">
    <asp:PlaceHolder runat="server" ID="submenuPH" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="pageCPH" Runat="Server">
    <asp:PlaceHolder runat="server" ID="pagePH" />
</asp:Content>

